<div class="container mx-auto max-w-screen-xl p-6 flex flex-col">
	<h1 class="text-3xl font-bold text-gray-900 mb-4">Shopping Cart</h1>

	@if (cartItems.length === 0) {
	<div class="text-center text-gray-700 font-bold mt-6">
		Your shopping cart is currently empty.
	</div>
	} @else {
	<ul *ngIf="cartItems.length > 0" class="flex flex-col w-full">
		<ng-container *ngFor="let item of cartItems">
			<li class="flex items-center justify-between py-4 border-b border-gray-200">
				<div class="flex items-center">
					<img [src]="item.imageURL" alt="{{ item.title }}" class="w-16 h-16 rounded-lg mr-4 object-cover" />
					<div class="text-left">
						<h3 class="text-lg font-bold text-gray-900">{{ item.title }}</h3>
						<span class="text-gray-700">$<span>{{ item.price }}</span></span>
					</div>
				</div>
				<div class="flex gap-1 items-center h-8">
					<button (click)="decrementQuantity(item.id)"
						class="h-full w-8 text-xs font-bold rounded-lg bg-gray-200 hover:bg-gray-300 focus:outline-none">
						<fa-icon [icon]="faMinus"></fa-icon>
					</button>
					<input [(ngModel)]="item.counter" type="text" min="1" value="1"
						class="h-full w-12 px-0 text-center border border-gray-300 rounded-lg focus:outline-none" />
					<button (click)="incrementQuantity(item.id)"
						class="h-full w-8  text-xs font-bold rounded-lg bg-gray-200 hover:bg-gray-300 focus:outline-none">
						<fa-icon [icon]="faPlus"></fa-icon>
					</button>
					<button (click)="removeFromCart(item.id)"
						class="h-full w-8 text-red-500 hover:text-red-700 focus:outline-none">
						<fa-icon [icon]="faTrash"></fa-icon>
					</button>
				</div>
			</li>
		</ng-container>
	</ul>
	}

	<div class="flex justify-between content-center w-full pt-4">
		<p class="py-2 text-lg font-bold text-gray-900">
			Total Price: $<span>{{calculateTotalPrice()}}</span>
		</p>
		<div class="flex gap-2">
			<button class="px-4 py-2 rounded-lg bg-red-500 text-white hover:bg-red-700 focus:outline-none"
				(click)="clearCart()">
				Clear Cart
			</button>
			<button class="px-4 py-2 rounded-lg bg-blue-500 text-white hover:bg-blue-700 focus:outline-none">
				Pay Now
			</button>
		</div>
	</div>
</div>
